.Chat {
    &Logo {
        display: flex;
        align-items: center;
        height: 40px;
        margin-left: 40px;
        font-size: 30px;
        color: #00b5ad;
    }

    &Container {
        width: 80%;
        margin: 20px auto;
    }
}
