body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

#root,
.fill {
    width: 100%;
    height: 100%;
}
